body{
    font-family: 'Pretendard', sans-serif;
    margin:0px;
    padding:0px;
    color: #121221;
}
ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.contents{
    width: 100%;
    overflow: hidden;
}