@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

body {
    margin: 0px;
    padding: 0px;
    color: #121221;
    background-color: #fff;
    @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

    font-family: "Pretendard",sans-serif;
}
ul,
li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 30px;
    top: 15px;
    right: 30px;
    mix-blend-mode: difference;
    color:#fff;
    .main_menu {
        display: flex;
        gap: 20px;
        font-weight: 500;
        text-transform:uppercase;
    }
    .mobile_menu {
        display: none;
    }
        
}
.main {
    .main_title{
        width: 100%;
        padding-top: 170px;
        padding-left: 30px;
        box-sizing: border-box;
        font-size: 4.9vw;
        line-height: 4.9vw;
        font-weight: 500;
        letter-spacing: -0.01em;
        .span_t {
            width: 15vw;
            display:inline-block;
        }
    }
    .business_info {
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
        padding-left: 30px;
        padding-right: 30px;
        text-transform:uppercase;
        font-size: 22px;
        font-weight: 500;
        .bi_right {
            display: flex;
            gap: 20px;
        }
    }
    .main_img {
        margin-top: 30px;
        position :relative;
        img{
            width: 100%;
        }
        .main_desc{
            position: absolute;
            top :50px;
            left :30px;
            color: #fff;
            font-size: 1vw;
            font-weight: 300;
            line-height: 2vw;
            letter-spacing: -0.01em;
        }
    }
    .arrow {
        position:fixed;
        left: calc(50% - 35px);
        bottom:50px;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        .logo {width: 20%;}
        .main_menu{ display: none;}
        .mobile_menu {display: block;}
    }
    .main {
        .main_title { 
            width: 100%;
            font-size: 5vw;
            line-height: 5vw;
        }
        .business_info {
            padding:0px 15px;
            box-sizing: border-box;
            font-size: 15px;
        }
        .main_img {
            width: 100%;
            img {
                height:500px;
                object-fit: cover; /*원본비율 유지한상태로 늘려줌*/
            }
            .main_desc{
                font-size: 15px;
                line-height: 6vw;
            }
        }
    }
        .arrow {
            width: 50%;
        }
}